@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind utilities;

@theme {
  --color-bg: #FFD7E4;
  --color-text: #3A3238;
  --color-link: #6E4555;
  --color-footer: #FFEAF0;

  --font-display: "font-serif";
  --font-body: "Calibri", sans-serif;
}
