@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import "tailwindcss";

@tailwind utilities;

@font-face {
  font-family: 'creamysoup';
  src: url('/public/creamysoup.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2.5s ease-in-out infinite;
}

@keyframes shake-rotate {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}


.animate-shake-rotate {
  animation: shake-rotate 3s ease-in-out infinite;
}

@layer base {
  :root {
    --font-display: 'creamysoup', serif;
    --font-body: 'Calibri', sans-serif;
  }

  [data-theme='dark'] {
    --color-bg: #1a1a1a;
    --color-text: #f0f0f0;
    --color-link: #c0aaff;
    --color-footer: #2a2a2a;
  }

  body {
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }
}

@theme {
  --color-bg: #f7ede2;
  --color-text: #3A3238;
  --color-link: #6E4555;
  --color-footer: #f5cac3;
  --color-nav: #31603D;
  --color-button: #599150;
  --color-dark-red: #F3E7E6;
  --font-display: "creamysoup", serif;
  --font-body: "Calibri", sans-serif;
}

